body {
    margin: 0;
    padding: 0;
    background-color: rgba(25, 100, 255, 0.3);
    font-family: Arial, sans-serif;
}
.display {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
}
.dice {
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#text1, #text2 {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
button {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.total {
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}
.prev {
    display: inline;
    text-align: left;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.info {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.moneyAvailable {
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.betting {
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.betting input {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: bold;
}
.betting button {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.betting button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
